<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Crypto{% endblock %}</title>

        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        {#<link href="{{ asset('css/morris-0.4.3.min.css') }}" rel="stylesheet">#}
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Matija Janc</strong>
                             </span> <span class="text-muted text-xs block">Web developer</span> </span> </a>
                        </div>
                    </li>
                    <li class="active">
                        <a href="index.html"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Statistics</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="login.html"><i class="fa fa-sign-out"></i> Log out</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="wrapper wrapper-content">
                {% block body %}
                {% endblock %}
            </div>
            <div class="footer">
                <div>
                    <strong>Copyright</strong> {{ "now"|date("Y") }}
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}{% endblock %}
    </body>
</html>
